/* navbar */
.desktop {
  display: none;
}

.burger {
  display: initial;
  font-size: 20px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger i {
  font-size: 2.4rem;
  color: white;
}

@media (min-width: 768px) {
  .desktop {
    display: initial;
  }
  .burger {
    display: none;
  }
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: fixed;
  width: 100%;
  padding-top: 0.3rem;
  font-family: "Phudu", cursive;
}

.logo {
  color: white;
  font-size: 2rem;
  margin-left: 2.2rem;
  width: 5rem;
  margin-right: 1rem;
}

.logo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  font-size: 1.7rem;
  color: white;
}

.burger {
  font-size: 1.5rem;
}

nav.right {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: 4rem;
}

nav.right a {
  margin-left: 3rem;
  color: white;
  padding: 0.7rem;
}

nav.right a:hover {
  text-shadow: #2e5f4f 1px 5px 10px;
}

/* nav link effect */
#nav_slide_hover {
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 1px;
  background-color: #ffffff;
  border: none;
}
